<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.FixformDAO"> 
    <select id="getFixformById"  resultType="Fixform">
        select
        * from Fixform where `id`=#{id}
    </select>
    <delete id="delete">
		delete from Fixform where id=#{id}
	</delete>
    <select id="getFixformCount" resultType="int">
        select count(id) from Fixform
    </select>
    <select id="getAllFixform" resultType="Fixform">
        select * from Fixform
    </select>
    <insert id="insert" parameterType="Fixform">
        insert into
        Fixform(carid,address,tel,username,description,fixdesc,created,fixtime,uid,state) 
        values(#{carid},#{address},#{tel},#{username},#{description},#{fixdesc},#{created},#{fixtime},#{uid},#{state});
    </insert>
        
    <update id="update" parameterType="Fixform">
		update Fixform set address=#{address},tel=#{tel},username=#{username},description=#{description},fixdesc=#{fixdesc},created=#{created},fixtime=#{fixtime},uid=#{uid},state=#{state} where id=#{id}
	</update>
        </mapper>