<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.MessageDAO"> 
    <select id="getMessageById"  resultType="Message">
        select
        * from Message where `id`=#{id}
    </select>
    <delete id="delete">
		delete from Message where id=#{id}
	</delete>
    <select id="getMessageCount" resultType="int">
        select count(id) from Message
    </select>
    <select id="getAllMessage" resultType="Message">
        select * from Message
    </select>
    <insert id="insert" parameterType="Message">
        insert into
        Message(uid,mid,content,type,created,updated,status,subject,pid) 
        values(#{uid},#{mid},#{content},#{type},#{created},#{updated},#{status},#{subject},#{pid});
    </insert>
        
    <update id="update" parameterType="Message">
		update Message set uid=#{uid},mid=#{mid},content=#{content},type=#{type},created=#{created},updated=#{updated},status=#{status},subject=#{subject},pid=#{pid} where id=#{id}
	</update>
        </mapper>