<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.WzDAO"> 
    <select id="getWzById"  resultType="Wz">
        select
        * from Wz where `id`=#{id}
    </select>
    <delete id="delete">
		delete from Wz where id=#{id}
	</delete>
    <select id="getWzCount" resultType="int">
        select count(id) from Wz
    </select>
    <select id="getAllWz" resultType="Wz">
        select * from Wz
    </select>
    <insert id="insert" parameterType="Wz">
        insert into
        Wz(uid,carid,title,price,score) 
        values(#{uid},#{carid},#{title},#{price},#{score});
    </insert>
        
    <update id="update" parameterType="Wz">
		update Wz set uid=#{uid},carid=#{carid},title=#{title},price=#{price},score=#{score} where id=#{id}
	</update>
        </mapper>